.border{
    border-color: 2px solid red;
}
.line{
    width: 0.1em;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.215);
}
.text-style2-balance{
    font-family: Geometrix-medium;
    font-size: medium;
    text-align: left;
}
.text-style-balance{
    font-family: Geometrix-medium;
    font-size: large;
}
.text-style-balance1{
    font-family: Geometrix-regular;
    text-align: left;
  }
.text-style-button{
    font-family: Geometrix-regular;
    font-size: small;
  }
.btn{
    background-color: rgb(160, 119, 234);
    border-radius: 0.1em;
    color: white;
}
.text-style-button:hover{
    background-color: rgb(166, 100, 228);
    color: white;
  }