.text-styles{
    font-family: Geometrix-regular;
    font-size: small;
}
.expense-type{
    position: absolute;
    border-radius: 1em;
    display:inline;
    width: .5em;
    height: 2.2em;
    top: 1%;
    left: 97.8%;
}
.ul-style{
    height: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  }

